<div class="card">
    <div class="card-body">
        <h3 class="card-title">Asistencia</h3>
        <div class="card-text">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Número de cuenta</th>
                        <th>Nombre</th>
                        <th>Inasistencias</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let alumno of alumnos" (click)="mostrarDatos(alumno, $event)">
                            <td>{{ alumno.numeroCuenta }}</td>
                            <td>{{ alumno.nombre}}</td>
                            <td>{{ alumno.inasistencias}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>

<app-lista-asistencia-detalle (deleteRequest)="deleteItem($event);" [alumnoSeleccionado]="alumnoSeleccionado" ></app-lista-asistencia-detalle>